.container{
    display: grid;
    grid-template-columns: 100px 300px 100px 100px;
    grid-template-rows: 100px 400px 100px;
    grid-template-areas:
    "header header header logo"
    "sidebar main  main main" 
    "footer footer footer footer";
}
.content{
    background-color: cadetblue;
    border:2px solid black;
}
.header{
    grid-area:header;
}
.content7{
    grid-area: footer;
}
.content4{
    grid-area:main;
}