* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside  main main main"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 10vh calc(100vh - (200px + 20vh)) 10vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
#header {
  grid-area: header;
  background-image: url(https://cdn.pixabay.com/photo/2016/05/11/13/20/keyboard-1385706_960_720.jpg);
  background-size: cover;
  background-position: center center;
}

#nav {
  grid-area: nav;
  background-color: rgb(0, 174, 255);
}

#aside {
  grid-area: aside;
  background-color: khaki;
}

#main {
  grid-area: main;
  padding: 1rem;
  background-color: lightcoral;
}

#footer {
  grid-area: footer;
  background-color: lightskyblue;
}
