@import 'theme.css';

body {
  font-family: var(--ff-monteserrat);
}

h1 {
  font-family: var(--ff-lato);
}

div {
  box-shadow: var(--koyu-gölge);
}

p {
  color: var(--acik-sari);
  background-color: var(--gri-8);
}
